@model tmc.Models.MovieViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container">
        <h4>Search Results</h4>
        <div class="card-deck">
            @foreach (var movie in Model.SearchMovie.results)
            {
                <a asp-action="Details" asp-route-id="@movie.id">
                    <div class="card mb-4 border-0" style="min-width: 120px; max-width:180px">
                        @if (movie.poster_path == null)
                        {
                            <img class="movie-img" alt="img" src="~/img/no-image.jpg" />
                        }
                        else
                        {
                            var image_path = "https://image.tmdb.org/t/p/w300" + movie.poster_path;
                            <img class="card-img" src="@image_path" alt="poster image" />
                        }
                    </div>
                </a>
            }
        </div>
    </div>