@model tmc.Models.MovieViewModel

@{
    ViewData["Title"] = "Watchlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Watchlist</h1>

@foreach (var movie in Model.Watchlist)
{
    <a class="movie" asp-action="Details" asp-route-id="@movie.id">
        <div class="movie-img">
            @if (movie.poster_path == null)
            {
                <img class="movie-img" alt="img" src="~/img/no-image.jpg" />
            }
            else
            {
                var img_path = "https://image.tmdb.org/t/p/w500" + movie.backdrop_path;
                <img class="movie-img" alt="img" src="@img_path" />
            }
        </div>
        <div class="img-overlay">
            <div class="movie-text-container">
                <h5 class="movie-text-title">
                    @movie.title
                </h5>
                <div>
                    <p class="movie-description">@movie.overview</p>
                </div>
            </div>
        </div>
    </a>
}
<div>

    <a asp-action="Index">Back to List</a>
</div>
