@model tmc.Models.MovieViewModel

@{
    ViewData["Title"] = "Watchlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Watchlist</h1>

Movies
<div>

    <a asp-action="Index">Back to List</a>
</div>
