@model tmc.Models.MovieViewModel

@{
    ViewData["Title"] = "Watchlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <h4>Watchlist</h4>
        <div class="card-deck">
            @foreach (var movie in Model.Movies)
            {
                <a asp-action="Details" asp-route-id="@movie.id">
                    <div class="card mb-4 border-0" style="min-width: 180px; max-width:198px">
                        @if (movie.poster_path == null)
                        {
                            <img class="card-img" alt="img" src="~/img/no-image.jpg" />
                        }
                        else
                        {
                            var image_path = "https://image.tmdb.org/t/p/w300" + movie.poster_path;
                            <img class="card-img" src="@image_path" alt="poster image" />
                        }
                        <div class="card-body">
                            <a class="btn btn-secondary" asp-action="RemoveFromWatchlist" asp-route-id="@movie.id">
                                <i class="far fa-bookmark"></i>
                                Remove From Watchlist
                            </a>
                        </div>
                    </div>
                </a>
                
            }
        </div>        
        <div>

            <a class="text-warning" asp-action="Index"><strong>Back to List</strong></a>
        </div>
    </div>